// colors

$background: #1F2227;
$foreground: whitesmoke;
$accent: #fd7e14;

$white:    #fff !default;
$grey: #9b9b9b;
$black:    #000 !default;
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// components
$navWidth: 100px;
$meatWidth: 28px;
$meatHeight: 2px;
$burgerContainerHeight: 4rem;

// screenSizes
$medium: 800px;
$large: 1400px;