Order: 0
Title: Home
Author: Marcel Walk
Description: I'm Marcel Walk and this is my personal website and blog where I write about programming, tech and personal things.
Keywords: C#,Software Developer, Software Entwicker, Software Developer C#, Software Entwicker C#, Styria, Steiermark, Graz, Leoben, Marcel, Nyasaki, Marcel Walk
---
<div itemscope itemtype="http://schema.org/CreativeWork" class="splash-container">
  <div class="splash">
    <h1 class="landing-heading">@Model.GetString("LandingTitle")</h1>
    <h2 itemprop="about" class="landing-subheading typing">@Context.GetString("LandingDescription")</h2>
    <!-- TODO: UPDATE WITH IONICONS -->
    @Html.Partial("partials/_social")
  </div>
</div>