Order: 0
Title: Home
Author: Marcel Walk
Description: 
  I'm Marcel Walk and this is my personal website and blog.
  I'm a Software Developer specilized in C# and Websites
---
<div class="center">
<h1>Marcel Walk</h1>
    <p>Bla Bla Bla</p>
    @Html.Partial("partials/_social")
    </div>