<meta charset="utf-8">
<meta name="language" content="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Nyasaki | Marcel Walk</title>
<meta name="description" content="Marcel Walks Personal Page / Blog">
<meta name="author" content="Marcel Walk">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">

<link href="@Context.GetLink("/scss/styles.css")"rel="stylesheet">